<div class="row">
    <div class="col-sm-4">
   
    {{#each burgers }}
     
       {{#unless devoured }}
       <span>
           Burger Name:{{burger_name}}
         <button id = "{{id}}" >Devoured</button>
       </span>
        {{/unless}}

    {{/each}} 
    </div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
        
     {{#each burgers }}
     
       {{#if devoured }}
       <span>
        Devoured Burger:{{burger_name}}
        
       </span>
        {{/if}}

    {{/each}} 


    </div>
</div>